.subredditHeading {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.subredditHeading img {
    width: 100%;
    height: 20rem;
    margin: 0 auto 1rem;
}

.subredditHeading h2 {
    position: relative;
    font-size: 2.5rem;
    width: 100%;
    margin: 0 auto 1rem;
}

@media only screen and (max-width: 768px) {
  .subredditHeading h2 {
    font-size: 2rem;
  }
}