.post {
    display: flex;
    flex-flow: column;
    width: 42.5rem;
    height: auto; /*To change to auto once I add an aside component*/
    border-radius: 0.3125rem;
    border: 0.75px solid #000;
    color: white;
    background-color: rgba(36, 31, 139, 0.712);
    box-shadow: 0px 1px 0px 0px black;
}

.post a {
    color: white;
    text-decoration: underline;
}

.post .top {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    flex-grow: 2;
    padding: .8rem 1rem;
}

.title {
    font-weight: bold;
    margin: auto;
    text-align: left;
}

.like-dislike {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

button.likeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.like-arrow {
    transform: rotate(-90deg);
    aspect-ratio: auto 1 / 1;
}

.dislike-arrow {
    transform: rotate(90deg);
    aspect-ratio: auto 1 / 1;
}

p.like-count {
    font-size: .8rem;
    opacity: .8;
    margin: 0;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .5rem;
    overflow: hidden;
    flex-grow: 2;
    padding: 0 .5rem;
}

.middle-container img,
video {
    width: 100%;
    aspect-ratio: auto 1 / 1;
}

.linkPage {
    margin: 0 auto;
    width: 100%;
    padding: 0 .5rem;
    font-size: 1rem;
    word-break: break-all;
}

img.thumbnail {
    display: block;
    border-radius: .5rem;
    width: 10rem;
    height: auto;
    margin: 1rem auto;
}

.body-container {
    height: 100%;
    overflow: auto;
    padding: 0 1rem;
    margin: 0 .3rem;
    font-size: large;
}

.body-container::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
}

.body-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.body-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

div.postBottom {
    margin: auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    opacity: .8;
    padding: 1rem 0;
}

.user {
    display: flex;
    gap: .4rem;
}

.commentIcon {
    display: flex;
    gap: .4rem;
    align-items: center;
    aspect-ratio: auto 1 / 1;
}

.commentsSectionBtn {
  background: transparent;
  border: none;
  display: flex;
}

.commentsSection {
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.commentsSection blockquote {
    background: #525151;
    border-left: 10px solid #ccc;
    margin: 1rem 10px;
    padding: 0.2rem 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.commentsSection blockquote:before {
    color: #ccc;
    font-size: 2rem;
    line-height: 0.1rem;
    margin-right: .25rem;
    vertical-align: -.4rem;
}

.commentsSection blockquote p {
    display: inline;
}

@media only screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
  
  .middle-container,
  div.postBottom {
    font-size: .6rem;
  }
  
  .title {
    text-align: start;
    font-size: 1rem;
    /* word-break: break-all; */
    /* white-space: normal; */
    overflow: auto;
  }
  
  .subredditLink {
    font-size: .8rem;
  }
  
  .body-container {
    font-size: .9rem;
  }
}