@keyframes rotateAnimationDark {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

@keyframes rotateAnimationLight {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.dark-mode-toggle {
    width: 1.55rem;
    height: 1.55rem;
    background: transparent;
    border: none;
    animation:  rotateAnimationLight .08s linear forwards;
}

.dark-mode-toggle:hover {
    cursor: pointer;
}

.darkMode {
    --dot-bg: black;
    --dot-color: #FFF;
    transition: all .4s;
}

.darkMode-header {
    background-color: black;
    border-bottom: 1px solid white;
}

.svgColorChange path {
    fill: white;
}

.flipButtonAnimation {
    animation: rotateAnimationDark .08s linear forwards;
}

.box {
    border: 2px solid white;
    padding: .2rem .2rem 0;
    border-radius: .4rem;
}

div.darkMode-box {
    border-color: white;
    transition: all .1s;
}