.subredditNavCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem;
    background-color: rgb(73, 73, 73);
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
}

img.subredditImage {
    max-width: 4rem;
    border: 1px solid white;
    border-radius: 2rem;
}