.subredditNavCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem;
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
}

img.subredditImage {
    width: 15%;
    max-width: 20%;
    aspect-ratio: 1 / auto;
    height: auto;
    border: 1px solid white;
    border-radius: 2rem;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .subredditNavCard {
    gap: .4rem;
    width: 100%;
    margin: auto;
    animation: openNavBar .4s both;
  }
  
  img.subredditImage {
    width: 20%;
  }

  .subredditNavCard p {
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}