@keyframes expand {
  from { 
    padding: 0; 
    gap: 0;
    width: 50%;
  }
  to { 
    padding: .8rem; 
    gap: .4rem;
    width: 100%;
  }
}

.subredditNavCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem;
    background-color: rgba(40, 40, 40, .8);
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
}

img.subredditImage {
    width: 15%;
    max-width: 20%;
    aspect-ratio: 1 / auto;
    height: auto;
    border: 1px solid white;
    border-radius: 2rem;
}

.subredditNavCard p {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*Mobile*/
@media only screen and (max-width: 480px) {
  .subredditNavCard {
    width: 100%;
    margin: auto;
    animation: expand .2s both;
  }
  
  img.subredditImage {
    width: 20%;
  }

  .subredditNavCard p {
    font-size: .8rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .subredditNavCard {
    width: 100%;
    margin: auto;
    animation: expand .2s both;
  }
  
  img.subredditImage {
    width: 20%;
  }

  .subredditNavCard p {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*Laptop*/
@media only screen and (min-width: 769px) and (max-width: 1070px) {
  .subredditNavCard {
    width: 100%;
  }
  
  img.subredditImage {
    width: 20%;
  }

  .subredditNavCard p {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}